<div class="d-flex">
  <ul class="list-group flex-column bd-highlight">
      <h2 class="text-center">
          Curso
      </h2>
    <li class="list-group-item p-2 bd-highlight"><strong>Nombre:</strong> {{ curso.nombre }}</li>
    <li class="list-group-item p-2 bd-highlight"><strong>Cantidad de clases:</strong> {{ curso.cantidadClases }}</li>
    <li class="list-group-item p-2 bd-highlight"><strong>Horario:</strong> {{ curso.horario}}</li>
    <li class="list-group-item p-2 bd-highlight"><strong>Dias:</strong> 
      <ul>
        <li *ngFor="let dia of curso.dias">{{ dia}}</li>
      </ul>
    </li>
    <li class="list-group-item p-2 bd-highlight"><strong>Estado:</strong> {{ estadoVariable[curso.estado]}}</li>
    <li class="list-group-item p-2 bd-highlight">
      <strong>Cambiar Estado:</strong>
      <select (change)="cambiarEstado($event.target.value)">
        <!--option [value]="estado" *ngFor="let estado of estados;">{{estado}}</option-->
        <option value="1">Activo</option>
        <option value="2">Inactivo</option>
        <option value="3">Pendiente</option>
      </select>
    </li>
  </ul>
</div>